<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="member">
	
	<select id="checkMember" resultType="member">
		select* from member where id = #{id} and pw = #{pw}
	</select>

	<select id="selectOne" parameterType="java.lang.String"
		resultType="member">
		select* from member where id = #{x}
	</select>

	<insert id="insert" parameterType="member">
		insert into member(id,pw,name,phone,allergy) values(#{id},#{pw},#{name},#{phone},#{allergy})
	</insert>

	<update id ="update" parameterType="member" >
		update member set pw = #{pw} ,phone = #{phone} , allergy = #{allergy} where id =#{id}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from member where id=#{x}
	</delete>
	
	
	
	
	<select id="AllMyfood" parameterType="String" resultType="myfood">
		select * from myfood where id=#{id}
	</select>
	
	<select id="selectMyfood" parameterType="myfood" resultType="myfood">
		select * from myfood where id=#{id} and code=#{code}
	</select>
	
	<insert id="insertMyfood" parameterType="myfood">
		insert into myfood(id,code,count) value(#{id},#{code},#{count})
	</insert>
	
	<delete id="deleteMyfood" parameterType="myfood">
		delete from myfood where id=#{id} and code=#{code}
	</delete>
	
	<update id="updateMyfood" parameterType="myfood">
		update myfood set count=#{count} where id=#{id} and code=#{code}
	</update>
	
	
	
	
	<select id="allMenu" resultType="menu">
		select* from menu order by code
	</select>

	<select id="selectMenu" parameterType="java.lang.String" resultType="menu">
		select * from menu where code = #{code}
	</select>

	<select id="searchMenu" resultType="menu" parameterType="java.lang.String">
		select * from menu where food like concat('%', #{word}, '%')
	</select>


	<insert id="insertMymenu" parameterType="mymenu">
  		insert into mymenu(num, id, code) values(null, #{id}, #{code})
  	</insert>
  	
  	<delete id="deleteMymenu" parameterType="java.lang.String">
		delete from mymenu where num=#{num}
	</delete>
	
	<select id="selectMymenu" parameterType="java.lang.String" resultType="menu2">
		select mm.num, m.code, m.food, m.allergy, m.calory, m.img from menu m, mymenu mm where m.code = mm.code and mm.id = #{id};
	</select>
	
	
	
	
	
	<select id="AllReceivemessage" parameterType="String" resultType="message">
		select * from message where receiveid=#{receiveid}
	</select>
	
	<select id="AllSendmessage" parameterType="String" resultType="message">
		select * from message where sendid=#{sendid}
	</select>
	
	<select id="SelectMessage" parameterType="java.lang.String" resultType="message">
		select * from message where num = #{num}
	</select>
	
	<insert id="SendMessage" parameterType="message">
  		insert into message(num, sendid, receiveid, title, message, count) values(null, #{sendid}, #{receiveid}, #{title}, #{message}, null)
  	</insert>
  	
  	<delete id="DeleteMessage" parameterType="java.lang.String">
		delete from message where num=#{num}
	</delete>
	
</mapper>









